* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.timer{
 width: 100%;
 text-align: center;
 padding: 20px;
 font-size: 36px;;

}
.cards {
  width: 64%;

  display: flex;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  perspective: 1000px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 150px;
  border: 1px solid #333;
  position: relative;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: 500ms all;
}
.flip {
  transform: rotateY(180deg);
}
.front-side {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(9, 137, 160);
  backface-visibility: hidden;
  transform: rotateY(180deg);
}
.back-side {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(9, 160, 55);
  backface-visibility: hidden;
}
.message {
  color: rgb(131, 180, 57);
  margin-bottom: 10px;
}